body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        
.navbar-inverse .navbar-inner{
    background-color: #91cf1c;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #91cf1c;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #fff;
    background-color: #91cf1c;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
}

.brand {
    font-family: 'Arvo';
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

h5 {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 4px;
}

.thumbnail {
    min-width: 260px;
}

.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

legend {
    font-family: 'Andika';
}

.home-hero {
    font-family: "Andika";
    font-size: 36;
    color: white;
    background-image: url('/public/css/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -19px;
    padding: 180px;
    text-align : center;
    text-shadow: 1px 1px 1px #000;
}

@media only screen and ( max-width : 1000px ) {
    .home-hero {
        padding:100px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:32px;
    }
}

.home-hero .btn {
    font-family: "arvo";
    width: 160px;
    margin: 10px 4px;
}

.quiz {
    background-color: #FEFEFE;
    display: block;
    font-family: "arvo";
    text-align: center;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
